<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = (
            <%= render('api/users/user.json.jbuilder', 
            user: current_user).html_safe  %>)
    </script>
<% end %>


<script type="text/javascript"> 
    window.logo = (
        "<%= asset_path("logos/logo.png") %>") 
</script>
    
<script type="text/javascript"> 
    window.redbg = (
        "<%= asset_path("backgrounds/backgroundreddish.svg") %>") 
</script>

<% if track_loaded? %>
    <script type="text/javascript">
        window.trackUrl = (
            "<%= url_for(current_track.file) %>");
        window.trackId = <%= current_track.id %>
    </script>
<% else %>
    <script type="text/javascript">
        window.trackUrl = null
    </script>
<% end %>
    <div class="logo-img">
      <%= image_tag("logos/logo.png") %>
    </div>


<main id="root">
</main>