<!DOCTYPE html>
<html>
  <head>
    <title>Listener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="logo-img">
      <%= image_tag("logos/logo.png") %>
    </div>
    <%= yield %>
  </body>
</html>
